<template>
  <div>
    <Popup ref="popup"></Popup>
    <form class="login" v-on:submit="Login">
        <div class="title">Login</div>
        <input type="text" name="Account" placeholder="account name" autocomplete="off" class="account" v-model="username">
        <input type="password" name="Password" placeholder="password" autocomplete="off" class="password" v-model="password">
        <input type="submit" class="Signin" value="Sign in">
      <router-link to="/signup" class="Signup"><i>Don't have an account yet ? Sign up</i></router-link>
    </form>
  </div>
</template>

<script>
import PopUp from '@/components/PopUp'
export default {
  name: 'Login',
  components: {
    Popup: PopUp
  },
  data () {
    return {
      username: '',
      password: ''
    }
  },
  mounted () {
    this.CheckIfConnected()
  },
  methods: {
    CheckIfConnected: function () {
      if (this.$store.getters.GET_TOKEN != null) {
        this.$router.push('/')
      }
    },
    Login: function (event) {
      event.preventDefault()
      if (this.username !== '' && this.password !== '') {
        this.$store.dispatch('connect', {username: this.username, password: this.password}).then((result) => {
          this.username = null
          this.password = null

          if (result === true) {
            this.CheckIfConnected()
          } else {
            this.$refs.popup.createPopup(result)
          }
        })
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .login{
    position:relative;
    margin-top:45vh;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;

    width:80%;
  }
  .title{
    font-size:2em;
    font-weight: 900;
    margin-bottom: 0.5em;
  }
  .account, .password, .Signin {
    width: 100%;
    margin: 1em 0;
    border: 0;
    border-radius: 30px;
    outline: 0;
    padding: 1em;
    background-image: linear-gradient(to right, #5495ff, #6d8bff, #8c7fff, #ad6dff, #ce54ff);
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 0.9em;
  }
  .account::placeholder, .password::placeholder{
    color:white;
  }

  .Signin{
    width:calc(100%);
    padding:0.7em 0;
    border-radius: 40px;
    font-size: 1.3em;
    font-weight: 900;
    cursor: pointer;
  }
  .Signup{
    margin-top: 4em;
    text-decoration: none;
    color: grey;
    text-align: center;
    cursor: pointer;
    font-size: 0.9em;
  }
</style>
