<template>
  <div>
    <Popup ref="popup"></Popup>
    <form id='form912'>
        <div class="Cont_1989d2">
            <div v-if="newNote" class="Title_Page_1dwl0">Creation - Note</div>
            <div v-if="!newNote" class="Title_Page_1dwl0">Edition - Note</div>
        </div>
        <input type="datetime-local" class="Date_Qx903" v-model="noteDate" disabled>
        <input type="text" maxlength="50" class="Title_19L8" placeholder="Titre" name='Titre' v-model="noteTitle">
        <input type="hidden" name="Contenu">
        <quillEditor :text="noteContenu" @update="updateContent"></quillEditor>
        <div class="CenterButtons_1d2">
            <div v-on:click="back" class="Button_189y2d annulate_1yilc92"><div class="icon_cont_18yk9"><i class="fas fa-times fa-2x"></i></div></div>
            <div v-if="!newNote" class="Button_189y2d delete_19289d" v-on:click="deleteNote"><div class="icon_cont_18yk9"><i class="fas fa-trash fa-2x" style="color:white"></i></div></div>
            <div class="Button_189y2d validate_18d92" v-on:click="setNote">
              <div class="icon_cont_18yk9">
                <div v-if="!updating" ><i class="fas fa-check fa-2x" style="color:white"></i></div>
                <div v-if="updating"><i class="fas fa-spinner fa-2x" style="color:white"></i></div>
              </div>
            </div>
        </div>
    </form>
    <!-- <div class="loading"><i class="fas fa-spinner"></i></div> -->
  </div>
</template>

<script>
import quillEditor from '@/components/QuillEditor'
import PopUp from '@/components/PopUp'
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'

export default {
  name: 'Note',
  components: {
    quillEditor,
    Popup : PopUp
  },
  data () {
    return {
      userToken: null,
      noteID: null,
      noteTitle: '',
      noteContenu: '',
      noteDate: null,

      //  updating vue
      updating: false,
      newNote: false
    }
  },
  mounted () {
    this.noteID = this.$route.query.noteID
    // if not connected, go back
    if (this.$store.getters.GET_TOKEN === null) {
      this.back()
    }

    this.userToken = this.$store.getters.GET_TOKEN

    //  si noteID != null && note new note
    //  then load ressources
    if (this.noteID !== null && !this.newNote) {
      //  get note
      this.$store.dispatch('getNotes', this.userToken).then((result) => {
        let notes = result
        let noteID = this.noteID
        let noteTitle = null
        let noteContent = null
        let noteDate = null
        let userTok = null
        notes.forEach(function (note) {
          if (noteID === note.id) {
            noteTitle = note.title
            noteContent = note.text
            userTok = note.userToken
            noteDate = (new Date(note.dateModif)).toISOString().substr(0, 16)
          }
        })

        //  if it's not my note then leave
        if (userTok !== this.userToken) {
          this.$router.push({name: 'Notes'})
        }
        this.noteTitle = noteTitle
        this.noteContenu = noteContent
        this.noteDate = noteDate
      })
    } else {
      this.newNote = true
      this.noteID = this.createNewID()
      //  get date
      this.noteDate = this.getCurDate()
      this.$router.push({
        name: 'Note',
        query: {'noteID': this.noteID}
      })
    }
  },
  methods: {
    updateContent: function (content) {
      this.noteContenu = content
      this.noteDate = this.getCurDate()
    },
    setNote: function () {
      this.updating = true
      var informations = {userToken: this.userToken, noteID: this.noteID, noteTitle: this.noteTitle, noteText: this.noteContenu}
      console.log(informations)
      this.$store.dispatch('setNote', informations).then((result) => {
        this.updating = false
        this.$refs.popup.createPopup(result)

        if (result !== 'true') {
          this.newNote = false
        }
      })
    },
    deleteNote: function () {
      this.$store.dispatch('deleteNote', {userToken: this.userToken, noteID: this.noteID}).then(() => {
        this.back()
      })
    },
    createNewID: function () {
      function randomString (length, chars) {
        var result = ''
        for (var i = length; i > 0; --i) result += chars[Math.floor(Math.random() * chars.length)]
        return result
      }
      var rString = randomString(32, '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ')
      return rString
    },
    back: function () {
      this.$router.push('/')
    },
    getCurDate: function () {
      var currentdate = new Date()
      return currentdate.toISOString().substr(0, 16)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .CenterButtons_1d2{
    position:fixed;
    bottom:1em;
    left:50%;
    transform:translateX(-50%);
    text-align:center;

    display: flex;
    justify-content: center;

    width:16em;
    pointer-events: none;
    z-index: 9999;
  }
  .Button_189y2d{
    cursor:pointer;
    pointer-events:all;
    vertical-align:top;
    position:relative;
    display:inline-block;
    width:4em;
    height:4em;

    margin:0 0.5em;

    border-radius:50%;
    background-image: linear-gradient(to right bottom, #F45F69, #FF842F);
    -webkit-box-shadow: 0px -1px 21px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px -1px 21px 0px rgba(0,0,0,0.27);
    box-shadow: 0px -1px 21px 0px rgba(0,0,0,0.27);

    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
    bottom:-5em;
  }
  .Button_189y2d >*{
    position:relative;
    text-align:center;
    left:00%;
    top:50%;
    transform:translate(-00%, -50%);
  }
  .annulate_1yilc92{
    color:grey;
    background-image: linear-gradient(to right bottom, #EEEEEE , #F6F6F6);
    animation-delay: 0.3s;
  }
  .delete_19289d{
    background-image: linear-gradient(to right bottom, #414141 , grey);
    animation-delay: 0.5s;
  }
  @keyframes fadeIn {
    from {
    bottom:-5em;
    }
    to { bottom:0;}
  }
  .Error_div19d02{
    position:fixed;
    top:-5em;
    z-index:999999;
    width:80%;
    left:50%;
    transform:translateX(-50%);
    background-image: linear-gradient(to right bottom, #EEEEEE , #F6F6F6);
    border-radius:25px;

    -webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.14);

    text-align:center;
    font-weight:700;
    font-size:1.2em;
    color:grey;
    padding:0.5em 0.3em;

    animation-name: fadeError;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
  }
  @keyframes fadeError {
    0% {
      top:-5em;
    }
    15%{
      top:1em;
    }
    85%{
      top:1em;
    }
    100% { display:none;
    top:-5em;
    }
  }
  .Cont_1989d2{
    height:3em;
    width:100%;
  }
  #form912{
    margin-bottom:8em;
    position: relative;
    width:100%;
  }
  .Title_Page_1dwl0{
    margin-left:5%;
    margin-top:0.5em;
    font-size:2.1em;
    font-weight:900;
  }
  .Date_Qx903{
    font-size:0.8em;
    font-weight:500;

    color:white;
    border:0;
    outline:0;

    background-image: linear-gradient(to right bottom, #F45F69, #FF842F);
    border-radius:15px;
    padding:0.5em 20px;

    margin:0 5%;
    margin-top:1em;
  }
  .Title_19L8{
    width:90%;
    font-size:1.3em;
    font-weight:900;

    margin:0 5%;
    margin-top:0.5em;

    color:white;
    background-image: linear-gradient(to right, #F45F69, #FF842F);
    border: 0;
    border-radius:15px;
    padding:0.5em 20px;
  }
  .Title_19L8::placeholder{
    color:white;
  }
  .Contenu_1j9d{
    width:90%;
    font-size:1em;
    font-weight:500;

    margin:0 5%;
    margin-top:0.5em;
    min-height:20em;

    color:white;
    resize: vertical;
    background-image: linear-gradient(to right bottom,#F45F69, #FF842F);
    border-radius:15px;
    padding:15px 20px;
  }
  .Contenu_1j9d::placeholder{
    color:white;
  }
  .loading{
    height:100vh;
    width:100vw;
    position: fixed;
    z-index:99;
    background-color:white;
    top:0;
  }
  .loading > i{
    position: absolute;
    top:45%;
    left:50%;
    transform: translate(-50%,-50%);

    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    font-size:3em;
    color:grey;
  }
  @keyframes loading {
    0% {
      transform: translate(-50%,-50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%,-50%) rotate(360deg);
    }
  }
</style>
