<template>
<div>
  <div class="Cont_1989d2">
    <div class="Title_Page_1dwl0">Notes</div>
    <div class="Disconnect" v-on:click="Disconnect()">Deconnexion</div>
  </div>
  <div class="Cont_Notes_1w89">
    <div v-for="note in notes" :key="note.id" ref="note.id" class="Note_Parent_4892" v-on:click="ChangePage(note)">
        <div class="Title_Note_189de32">{{note.title}}</div>
        <div class="Preview_Note_198f"  v-html="PreviewText(note)"></div>
        <div class="Date_1892">{{note.dateModif}}</div>
    </div>
    <div v-for="b in blanks" :key="b.id" class="Note_Parent_4892 DecorativeBlock_21d2">
    </div>
  </div>
  <div class="ContButtons_fie2419so">
    <div class="RefreshPage_12">
        <div><i class="fas fa-sync-alt fa-lg"></i></div>
    </div>
    <div class="Add_Note_489s">
        <div v-on:click="CreateNote()"><i class="fas fa-plus fa-2x"></i></div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'Notes',
  data () {
    return {
      notes: {},
      blanks: {}
    }
  },
  mounted () {
    let userToken = this.$store.getters.GET_TOKEN
    // if not connected
    if (userToken === null) {
      this.$router.push('/login')
      return
    }

    // get all notes
    this.$store.dispatch('getNotes', userToken).then((result) => {
      this.notes = result
      this.RefreshCells()
    })

    // update view when resizing window
    window.onresize = () => {
      this.RefreshCells()
    }
  },
  methods: {
    PreviewText: function (note) {
      return note.text
    },
    RefreshCells: function () {
      let size = window.innerWidth
      let nb = this.notes.length
      this.blanks = []

      if (size < 700) {
        if (nb % 2 !== 0) {
          this.blanks.push({id: nb})
        }
      } else if (size < 1000) {
        while (nb >= 3) {
          nb -= 3
        }
        while (nb < 3 && nb > 0) {
          nb += 1
          this.blanks.push({id: nb})
        }
      } else if (size < 1500) {
        while (nb >= 4) {
          nb -= 4
        }
        while (nb < 4 && nb > 0) {
          nb += 1
          this.blanks.push({id: nb})
        }
      } else {
        while (nb >= 5) {
          nb -= 5
        }
        while (nb < 5 && nb > 0) {
          nb += 1
          this.blanks.push({id: nb})
        }
      }
    },
    Disconnect: function () {
      this.$store.dispatch('disconnect').then(() => {
        this.$router.push({name: 'Login'})
      })
    },
    ChangePage: function (note) {
      this.$router.push({
        name: 'Note',
        query: {'noteID': note.id}
      })
    },
    CreateNote: function () {
      this.$router.push({
        name: 'Note',
        query: {'noteID': null}
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .Cont_1989d2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:1em;
    height:3em;
    width:100%;
    margin-bottom:2%;
  }
  .Title_Page_1dwl0{
    margin-left:25px;
    font-size:2.1em;
    font-weight:900;
  }
  .Disconnect{
    margin-right:25px;
    cursor:pointer;
  }
  .Cont_Notes_1w89 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .Note_Parent_4892 {
    display: inline-block;
    position: relative;
    width: 44vw;
    height: 44vw;
    margin: 2vw;
    background-image: linear-gradient(to right bottom, #F45F69 , #FF842F);
    border-radius: 15px;
    transition: all ease 0.4s;
    cursor: pointer;
  }
  .Title_Note_189de32 {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1em;
    font-weight: bold;
    white-space: nowrap;
    padding: 5%;
    color: white;
  }
  .Preview_Note_198f {
    text-overflow: ellipsis;
    overflow: hidden;
    height: calc(55%);
    padding: 0 5%;
    font-size: 0.8em;
    color: white;
    opacity: 0.9;
  }
  .Date_1892 {
    padding: 5%;
    font-size: 0.7em;
    color: white;
  }
  .DecorativeBlock_21d2 {
    background-image: linear-gradient(to right bottom, #EEEEEE , #F6F6F6);
  }
  .routerLink{
    text-decoration:none;
  }
.ContButtons_fie2419so{
  position:fixed;
  display:flex;
  align-items:flex-end;
  justify-content:flex-end;
  right:2em;
  bottom:2em;
  z-index:9999;
}
  .ContButtons_fie2419so > *{
    position:relative;
    margin-left:1em;
  }
  .RefreshPage_12{
    width:3em;
    height:3em;
    color:white;
    bottom:-7em;

    border-radius:50%;
    background-image: linear-gradient(to right bottom, #F45F69, #FF842F);
    -webkit-box-shadow: 0px -1px 21px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px -1px 21px 0px rgba(0,0,0,0.27);
    box-shadow: 0px -1px 21px 0px rgba(0,0,0,0.27);

    animation-name: fadeIn_Note;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;

    cursor:pointer;
  }
  .Add_Note_489s{
    width:4em;
    height:4em;
    color:white;
    bottom:-7em;

    border-radius:50%;
    background-image: linear-gradient(to right bottom, #F45F69, #FF842F);
    -webkit-box-shadow: 0px -1px 21px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px -1px 21px 0px rgba(0,0,0,0.27);
    box-shadow: 0px -1px 21px 0px rgba(0,0,0,0.27);

    animation-name: fadeIn_Note;
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;

    cursor:pointer;
  }
  .Add_Note_489s >*, .RefreshPage_12 > *{
    position:relative;
    text-align:center;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
  }
  @keyframes fadeIn_Note {
    from {
    bottom:-7em;
    }
    to { bottom:0em;}
  }
  @media screen and (min-width: 700px) {
    .Note_Parent_4892 {
      width:30vw;
      height:30vw;
      margin:1vw;
    }
    .Title_Note_189de32{
      text-overflow: ellipsis;
      overflow: hidden;
      font-size:1.2em;
      font-weight:bold;
      white-space: nowrap;

      color:white;
    }
    .Preview_Note_198f{
      text-overflow: ellipsis;
      overflow: hidden;
      height: calc(60%);

      font-size:0.9em;
    }
  }
  @media screen and (min-width: 1000px) {
    .Note_Parent_4892 {
      width:22vw;
      height:22vw;
      margin:1vw;
    }
    .Preview_Note_198f{
        font-size:0.8em;
    }
  }
  @media screen and (min-width: 1500px) {
    .Note_Parent_4892 {
      width:17vw;
      height:17vw;
      margin:1vw;
    }
    .Preview_Note_198f{
      height:63%;
    }
  }
</style>
