<template>
  <div class="body">
    <form class="signup" v-on:submit="Signup">
        <div class="title">Sign up</div>
        <input type="email" name="Mail" placeholder="mail address" autocomplete="off" class="account" v-model="mail" required>
        <input type="text" name="Username" placeholder="account name" autocomplete="off" class="account" v-model="username" required>
        <input type="password" name="Password" placeholder="password" autocomplete="off" class="password" v-model="password" required>
        <input type="password" name="RepeatedPass" placeholder="repeat your password" autocomplete="off" class="password" :class="CheckIfCorrect" v-model="repeatedpass" required>
        <input type="submit" class="Signup" value="Sign up">
      <router-link to="/login" class="Signin"><i>have an account yet ? Sign in</i></router-link>
    </form>
  </div>
</template>

<script>
export default {
  name: 'Signup',
  data () {
    return {
      mail: '',
      username: '',
      password: '',
      repeatedpass: ''
    }
  },
  mounted () {
    this.CheckIfConnected()
  },
  computed: {
    CheckIfCorrect: function () {
      let classname = 'good'
      if (this.password !== this.repeatedpass) {
        classname = 'wrong'
      }
      return classname
    }
  },
  methods: {
    Signup: function (event) {
      event.preventDefault()
      if (this.password === this.repeatedpass) {
        if (this.account !== '' && this.password !== '') {
          this.$store.dispatch('signup', {mail: this.mail, username: this.username, password: this.password}).then((result) => {
            if (result !== false) {
              this.CheckIfConnected()
            }
          })
        }
      }
    },
    CheckIfConnected: function () {
      if (this.$store.getters.GET_TOKEN != null) {
        this.$router.push('/')
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .body{
    position: relative;
    height:100vh;
    width:100%;
  }
  .signup{
    position:absolute;
    top:45%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;

    width:80%;
  }
  .title{
    font-size:2em;
    font-weight: 900;
    margin-bottom: 0.5em;
  }
  .account, .password, .Signup {
    width: calc(100% - 2em);
    margin: 1em 0;
    border: 0;
    border-radius: 30px;
    outline: 0;
    padding: 1em;
    background-image: linear-gradient(to right, #5495ff, #6d8bff, #8c7fff, #ad6dff, #ce54ff);
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 0.9em;
  }
  .account::placeholder, .password::placeholder{
    color:white;
  }

  .Signup{
    width:calc(100%);
    padding:0.7em 0;
    border-radius: 40px;
    font-size: 1.3em;
    font-weight: 900;
    cursor: pointer;
  }
  .Signin{
    margin-top: 4em;
    text-decoration: none;
    color: grey;
    text-align: center;
    cursor: pointer;
    font-size: 0.9em;
  }
  .wrong{
    border:1px solid red;
  }
</style>
