<template>
  <div>
    <div v-for="(txt,i) in popups" v-bind:key="`${i}${txt}`">
      <div class="error">{{txt}}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PopUp',
  data () {
    return {
      popups: []
    }
  },
  methods: {
    createPopup: function (msg) {
      this.popups.push(msg)
    }
  }
}
</script>

<style lang="css" scoped>
  .error{
    position: fixed;
    top: -5em;
    z-index: 999999;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    background-image: linear-gradient(to right bottom, #EEEEEE , #F6F6F6);
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.14);
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
    color: grey;
    padding: 0.5em 0.3em;
    animation-name: fadeError;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }

  @keyframes fadeError{
    0%{
      top: -5em;
    }
    10%{
      top: 1em;
    }
    90%{
      top: 1em;
    }
    100%{
      top: -5em;
      display: none;
    }
  }
</style>
