<template>
  <div class="Quill_Cont_12">
    <slot name="custom-toolbar"></slot>
    <slot name="contquill"></slot>
  </div>
</template>

<script>
import Quill from 'quill'

let toolbarQuill = [
  ['bold', 'italic', 'underline', 'strike'], // toggled buttons
  //   ['blockquote', 'code-block'],

  //   [{ 'header': 1 }, { 'header': 2 }],    // custom button values
  [{ list: 'ordered' }, { list: 'bullet' }],
  [{ indent: '-1' }, { indent: '+1' }, { align: [] }], // outdent/indent
  //   [{ 'direction': 'rtl' }],  // text direction

  [{ script: 'super' }], //  superscript/subscript
  ['link', 'code-block'], //  Link & code

  [{ color: [] }, { background: [] }], // dropdown with defaults from theme

  [{ size: ['small', false, 'large', 'huge'] }], // custom dropdown
  ['link', 'image', 'video'] // images & videos

  //   ['clean']  // remove formatting button
]

let placeholder = 'Write something'

let quill = null

export default {
  name:'QuillEditor',
  props: {
    text: String
  },
  data() {
    return {
      loading: true
    }
  },
  mounted () {
    let customToolbar = this.$slots['custom-toolbar']
    let customToolbarHTML = customToolbar ? customToolbar[0].elm : false
    let quillCustomToolbarId = 'custom-quilljs-toolbar'
    if (customToolbarHTML) {
      customToolbarHTML.id = quillCustomToolbarId
    }

    quill = new Quill(this.$el, {
      theme: 'snow',
      placeholder: placeholder,
      modules: {
        toolbar: toolbarQuill
      }
    })

    quill.on('text-change', (delta, oldDelta, source) => {
      let html = quill.root.innerHTML
      this.$emit('update', html, delta, oldDelta, source)
    })
  },
  watch: {
    text: function () {
      if (this.loading) {
        this.loading = false
        quill.setContents([])
        quill.clipboard.dangerouslyPasteHTML(0, this.text)
      }
    }
  }
}
</script>

<style>
  .Quill_Cont_12{
    position:relative;
    width:90%;
    left:50%;
    transform:translateX(-50%);
    min-height:80vh;

    background-image: linear-gradient(to top, #f7f7f7, #f7f7f7, #f7f7f7, #f6f6f6, #f6f6f6);
    border-radius:15px;
    border: 0px solid #ccc !important;
    padding-top:1em;
    padding-bottom :1em ;
  }
  .ql-container {
    height: auto !important;
    }

  .ql-editor {
    height: auto !important;
    white-space: pre-line;
    }
  .ql-toolbar{
    /* background-image: linear-gradient(to right, #ececec, #eeeeee, #f0f0f0, #f3f3f3, #f5f5f5); */

    outline:0 !important;
    border:0 !important;
    border-radius:15px;

    position:sticky;
    top:1%;
    left:7%;
    width:86%;
    z-index:10;

    background-color:white;
    transition:all ease 0.5s;
  }
  .ql-toolbar-mobile{
    position: fixed;
    bottom:1em;
    width:85%;
    background-color:#f7f7f7;
    -webkit-box-shadow: 0px -1px 21px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px -1px 21px 0px rgba(0,0,0,0.27);
    box-shadow: 0px -1px 21px 0px rgba(0,0,0,0.27);
  }
</style>
