<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap');

#app {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  position:relative;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
</style>